
/* Body and structure
-------------------------------------------------- */

body {
  position: relative;
  padding-top: 40px;
}

/* Code in headings */
h3 code {
  font-size: 14px;
  font-weight: normal;
}



/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #DBDBDB;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body.home > .navbar .brand {
    color: #000;
}
body > .navbar .brand span {
    color:#00973a;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
  color:#DBDBDB;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 30px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

section h2 {
    color:#b2b2b1;
}

/* Separators (hr) */
.bs-docs-separator {
  margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.slogan {
    padding: 25px 15px 25px 0;
    border-right:1px solid #CCCCCC;
    color:#757575;
}

.homeintro {
    padding-top:25px;
    color:#666666;
    font-size:15px;
}

.homesubtitle {
    color:#b2b2b1;
    text-align:center;
    font-size:12px;
    margin-bottom:2em;
}

.homedesc {
    color:#3B3B3C;
}

.lead {
    color:#dbdbdb;
}

.shortdesc,
#download {
  font-size: 24px;
  text-align:center;
  line-height: 1.25;
  margin-bottom: 30px;
}
.shortdesc {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}

#download .newfeature {
    font-size: 18px;
}

#download .warning {
  font-size: 18px;
}

a {
    color: rgb(22, 120, 127);
}



/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  background-color:#333333;
  }
.jumbotronhome {
  position: relative;
  padding: 40px 0;
  }  
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  text-align:left;
  letter-spacing: -1px;
  line-height: 1;
  color:#009739;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}
.jumbotronhome h1 {
  font-size: 80px;
  font-weight: bold;
  text-align:center;
  letter-spacing: -1px;
  line-height: 1;
  color:#3B3B3C;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}
.jumbotronhome h1 span {
   color:#00973a;
}
.jumbotron p {
  font-size: 18px;
  text-align:left;
  line-height: 1.25;
  margin-bottom: 30px;
 }
/*.jumbotronhome p {
  font-size: 24px;
  text-align:center;
  line-height: 1.25;
  margin-bottom: 30px;
 }*/

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #78c7ce;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotronhome a {
  color: #78c7ce;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #00b4d4;
  text-decoration:none;
  /*text-shadow: 0 0 10px rgba(0,0,0,.25);*/
}
.jumbotronhome a:hover {
  color: #00b4d4;
  text-decoration:none;
  /*text-shadow: 0 0 10px rgba(0,0,0,.25);*/
}


/* Download button
-------------------------*/
.masthead .btn {
  padding: 19px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #1c1c1c; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn,
.masthead .btn:hover
{
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active
{
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}
.masthead .btn .sublabel
{
    font-size:12px;
    color:#fbfbfb;
}
a .download {
	color:#3c3c3b;
	}

a:hover .download {
	color:#3c3c3b;
	}

#download .relnote {
    font-size:12px;
    color: rgb(117, 117, 117);
    text-decoration: underline;
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotronhome .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4px;
  background-color:#333333;
}
.jumbotronhome:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4px;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 70px 0 80px;
  margin-bottom: 0;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
/*.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}*/

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: #3B3B3B;
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  padding: 0;
  text-align: center;
  /*background-color: #f5f5f5;
  border-top: 2px solid #b2b2b2;
  border-bottom: 1px solid #dadada;*/
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.bs-docs-social-buttons li {
  display: inline-block;
  padding: 4px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

#overview .logo {
    float:left;
    padding:25px 10px 0 0;
}



/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  font-size:12px;
  padding: 14px;
  margin-top: 7px;
  border-top: 1px solid #e5e5e5;
  background-color: #333333;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer ul li a {
	color:#fbfbfb;
	}
.footer ul li a:hover {
	color:#1C1C1B;
	}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

footer .separator {
    font-size:9px;
    color:#b7a08b;
    padding:0 1em;
}


/* Misc
-------------------------------------------------- */

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
  margin-top: 5px;
}

/* Fake the :focus state to demo it */
.focused {
  border-color: rgba(82,168,236,.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
  outline: 0;
}

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
  display: block;
  margin-bottom: 9px;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}




/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .bs-docs-sidenav {
    width: 258px;
  }
  .bs-docs-sidenav > li > a {
    width: 230px \9; /* Override the previous IE8-9 hack */
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    width: 218px;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    padding: 40px 20px;
    margin-top:   -20px; /* Offset bottom margin on .navbar */
    margin-right: -20px;
    margin-left:  -20px;
  }
  .masthead h1 {
    font-size: 60px;
  }
  .masthead h2 {
    font-size: 20px;
    line-height:20px;
  }

  .masthead .btn {
    font-size: 24px;
  }
  .masthead .span4 {
    border-right: 0px none transparent
  }
  .bs-docs-social {
    margin: 0 -20px;
  }

  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }

  /* Unfloat the back to top link in footer */
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer p {
    margin-bottom: 9px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
  }

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    font-size: 45px;
  }
  .jumbotron p,
  .jumbotron .btn {
    font-size: 18px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }

  /* center align subhead text like the masthead */
  .subhead h1,
  .subhead p {
    text-align: center;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Tighten up footer */
 .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* SlimerJs */
/* -----Couleurs & mise en forme----- */

p.intro {
	font-size:14px;
	color:#555;
	padding-left:150px;
	}

.slmv {
    color:#00973a;
}
.slmv span {
	color:#3B3B3C;
}

.slm {
    font-style: italic;
    color:#ff7b00;
}

.orange {
	color:#ff7b00;
	}


img.imgbtn {
	padding-bottom:2px;
	}
	


.intro {
	float:right;
	color:#555555;
	text-align:justify;
	background-color:rgba(255,255,255,0.55);
	}
	
.clear {
	clear:both;
	display:block;
	}

.btngrisclair {
	background-color:#fafafa;
	}
	
.btngrisclair:hover {
	background-color:#e0e0e0;
	}
	
h1.install {
	color:#757575;
	}
	
/* -----"Pretty code"----- */	

.codetitre {
	padding-bottom:8px;
	font-size:14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style:bold;
	}
	
pre {
	text-align:left;
	font-size:11px;
	font-family: "Courier New", Menlo, Consolas, Monaco, monospace;
	color: #47433E;
	line-height: 20px;
	display: block;
	margin-bottom:10px;
  padding: 7px;
	background-color: #EFE9E1;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
	}

code {
	font-family:Monaco, courrier new, arial;
	font-size:12px;
	}

.object {
	color:#4682B4;
	}
	
.fonction {
	color:#008D36;
	}

.literal {
	color:#B21E00;
	}
	
.comment {
	font-style:italic;
	color:#1C1C1B;
	}
    
    
dt {
    margin-top:1em;
}

#faq dt:target,
#faq dt:target + dd
{
    background-color: #EFE9E1;
}

#faq dt:target {
    padding-top:4em;
}

